/* This hides it */
.hide { 
    display: none; 
}

/* This shows it */
.show { 
    display: block; 

}

/* This makes it float ON TOP of everything else */
.menu-box {
    position: absolute;  /* Floats it */
    z-index: 999;        /* Puts it on the very top layer */
    background: white;   /* Prevents seeing through it */
    border: 1px solid black;
    width: 120px;
    top: 100%;           /* Places it right under the button */
    left: 0;
}