
.navegacion{
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 10px;
    list-style-type: none;
    padding-left: 20px;
    padding-right: 30px;
}

.navegacion{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    list-style-type: none;
    padding-left: 20px;
    padding-right: 30px;
}

.buttons{
    display: inline-block;
    text-decoration: none;
    border:none;
    background-color: transparent; 
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
} 


/* cyberpunk mode */
.buttons:hover {
    text-shadow: -2px 0px 0px #00feff, 2px 0px 0px #ff4d00;
    border-color: white;
    transform: scale(1.05); 
    color: #ffffff; 
    border-color: #ffffff;
    background-color: #162a44; 
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    text-shadow: -1px 0px 0px rgba(0, 255, 255, 0.5),1px 0px 0px rgba(255, 80, 0, 0.5);
}
/* final cyperpunk mode */





.logo{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    justify-content: center;
}
.logomain{
    justify-content: center;

}

.body{
    /* background:black; */
    background: #12263A;
    background-repeat: no-repeat;
    background-size: cover;
}


                                                            
        /* This is the shortest way to hide something */
.hide { display: none; }
        /* This makes it show up */
.show { display: block; }

.menu-box {
    position: absolute; 
    top: 40%;          
    left: 40%;            
    z-index: 999;       
    background-color: black;
    color: white;
    padding: 10px;
    width: 200px;
    /* position: absolute;  
    z-index: 999;        
    background: white;   
    border: 1px solid black;
    width: 120px;
    top: 100%;           
    left: 0; */
}

.button-header {
    position: relative; /* Needed for the dropdown to position correctly */
    display: inline-block; /* Keeps the button's size to its content */
}

                                                            

