/* Navegacion */
.navegacion{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    list-style-type: none;
}

.hnavegacion-main{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    list-style-type: none;
    flex-direction: column;
    position: relative;
}

.navegacion-main{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    list-style-type: none;
    flex-direction: row;
    position: relative;
}

.contactanos{
    margin-top: 20px;
    margin-left: 758px;
    width: 120px;
}



/* ======================== */





/* buttons styles */
.buttons{
    display: inline-block;
    text-decoration: none;
    border:none;
    background-color: transparent; 
    color: white;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
} 

.mbuttons-size{
    font-size: 20px;
}
/* ======================== */





/* cyberpunk mode (buttons highlight)*/
.buttons:hover {
    text-shadow: -2px 0px 0px #00feff, 2px 0px 0px #ff4d00;
    border-color: white;
    transform: scale(1.05); 
    color: #ffffff; 
    border-color: #ffffff;
    background-color: #162a44; 
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    text-shadow: -1px 0px 0px rgba(0, 255, 255, 0.5),1px 0px 0px rgba(255, 80, 0, 0.5);
}
/* final cyperpunk mode */



/* logo styles */

.logo{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    justify-content: center;
}
.logomain{
    justify-content: center;

}
/* =============================== */

/* ========== Script,hide and show ================*/
.hide { display: none; }
.show { display: block; }
/* ============================================= */


/* boxes styles */
.menu-box {
    position: absolute; 
    background-color: #162a44;
    color: white;
    padding: 10px;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
} 
/* ============================================= */




/*========== boxes positions (bdw it will change) ==========*/
.position0{
    margin-top: -15px;
    margin-left: 285px;
    width: 293px;
}
.position1{
    margin-top: 30px;
    margin-left: -950px;
    width:277px;
}

.position2{
    margin-top: 30px;
    margin-left: -613px;
    width: 260px;
}

.position3{
    margin-top: 30px;
    margin-left: -300px;
    width: 274px;
}

.position4{
    margin-top: 30px;
    margin-left: 116px;
    width: 300px;
}

.position5{
    margin-top: 30px;
    margin-left: 658px;
    width: 267px;
}

.position6{
    margin-top: 30px;
    margin-left: 1030px;
    width: 202px;
}
/* ======================================== */






/* Button sizer */
.sbuttons-size{
    font-size: 15px;
}
/* ============ */




/* Header button for dropdown */
.button-header {
    position: relative; /* Needed for the dropdown to position correctly */
    display: inline-block; /* Keeps the button's size to its content */
}
/* ============================ */                             
/* index image */
.ilustration{
    margin-left: 831px;
}